@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


:root {

    --yellow: #FFBE0B;
    --orange: #FB5607;
    --purple: #8338EC;
    --blue: #3A86FF;
    --pink: #FF006E;
    --light-blue: #bde0fe;


}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color:var(--light-blue);

}

#startquiz {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#header-text {
    justify-content: center;
    color: var(--blue);
    text-align: center;
}

#header-text:hover {
color: var(--orange);
}

#timer {
    background-color: var(--orange);
    color: var(--light-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-size: 30px;
}
.final {
    color: black;
}
